body {
    margin:0;
    padding:0;
    background:black;
    color:white;
    position:center;
    background-position:center;
    font-family:sans-seirf;
}
.border{
    top:0%;
    left:%;
    position:absolute;
    transform:translate (-50%,-50%);
    width:300px;
    height: 425px;
    background-color:#010101;
    color:white;
    box-sizing:border-box:;
    font-size: 19px;
    border-radius: 0.3%;
    padding : 50px 30px;
}

.border label {
    font-weight: bold;
    font-size: 17px

}
input {
    width:100%;
    margin-bottom: 20px;
}
input[type="email"] , input[type="password"] {
    border:none;
    outline: none;
    border-bottom: 2px solid white;
    background:transparent;
    height:40px;
    color:cyan;
    font-size: 15px;
}
input[type="submit"]
{
    outline:none;
    border:none;
    height:40px;
    background:green;
    color:white;
    font-size:18px;
    border-radius: 20px;
}


h1 {
    text-align: center;
}
label {
    cursor:pointer;
}